html {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px 0;
}

h1 {
    text-align: center;
    color: #0537c1;
    font-weight: 700;
}
p {
    text-align: right;
}

.content-table {
    border-collapse: collapse;
    margin: 30px auto;
    font-size: 1em;
    min-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #1d1b93;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tbody {
    border-bottom: 1px solid #ddd;
}
.content-table tbody:nth-of-type(2n) {
    background-color: #f3f3f3;
}
.content-table tbody:last-of-type {
    border-bottom: 2px solid #1d1b93;
}

.content-table tbody.active-row {
    font-weight: bold;
    color: #1d1b93;
}